@font-face {
    font-family: 'Minnie Regular';
    src: url('./assets/MINNIE.TTF');
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Minnie Regular';
    display: flex;
    flex-direction: column;
    background: radial-gradient(40% 40rem,#aa7816, #553411);
    background-repeat: no-repeat;
}

.black-bar {
    height: 3rem;
    background-color: black;
}

.black-bar.bottom {
    margin-top: auto;
}

.logo,
.content .container {
    display: flex;
}

.logo {
    justify-content: center;
    margin-top: 1rem;
}

.content .container {
    justify-content: space-between;
    align-items: center;
}

.hands {
    width: 20rem;
}

#rock-flipped {
    margin-left: 10rem;
}

#rock {
    margin-right: 10rem;
}

.score {
    color: white;
    font-weight: 900;
    font-size: 5rem;
    -webkit-text-stroke: .3rem black;
}

#versus {
    margin: 0 3rem 0;
}