@font-face {
    font-family: 'Minnie Regular';
    src: url('./assets/MINNIE.TTF');
}

* {
    box-sizing: content-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Minnie Regular';
    background: radial-gradient(40% 40rem,#aa7816, #553411);
    background-repeat: no-repeat;
}

.black-bar {
    height: 3rem;
    background-color: black;
}

.black-bar.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background-color: black;
}

.logo,
.content .container {
    display: flex;
}

.logo {
    justify-content: center;
    margin-top: 1rem;
}

.content .container {
    justify-content: space-between;
    align-items: center;
}

#you {
    margin-left: 1rem;
}

#comp {
    margin-right: 1rem;
}

.hand {
    width: 20rem;
}

.hand.left {
    margin-left: 5rem;
}

.hand.right {
    margin-right: 5rem;
}

#versus {
    margin: 0 3rem 0;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% + 8rem);
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 9999;
    opacity: 0;
    animation: bounce 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.you-win,
.comp-wins {
    position: relative; /* Adjust the position of the messages relative to the winner container */
}

.pick {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

.rock-text,
.paper-text,
.scissors-text {
    cursor: pointer;
    transition: all ease 0.1s;
}

.rock-text:hover,
.paper-text:hover,
.scissors-text:hover {
    transform: scale(1.1);
}

.play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    position: absolute;
    top: calc(50% + 8rem);
    bottom: 6rem;
    left: 50%;
    right: 50%;
    cursor: pointer;
    opacity: 0; /* Set initial opacity to 0 */
}

.play-again:hover {
    transform: scale(1.1);
    transition: all ease 0.1s;
}

/* Hide class to show and hide corresponding elements */
.hide {
    display: none;
}

/* Fading in and out transition */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) scale(0.8); /* Start slightly smaller and less opacity */
        opacity: 0;
    }
    30% {
        transform: translate(-50%, -50%) scale(1.2); /* Bounce to a larger size */
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(0.9); /* Slightly shrink before settling */
        opacity: 1;
    }
    70% {
        transform: translate(-50%, -50%) scale(1.1); /* Bounce back a bit */
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* End at the original size */
        opacity: 1;
    }
}

/* Copyright section */
.copyright {
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    color: #000000;
    font-size: 0.8rem;
}

.copyright a {
    text-decoration: none;
    color: #000000;
    transition: all ease 0.2s;
}

.copyright a:hover {
    color: #ffffff;
}

.copyright span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}